# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.DS_Store
build/
dist/
*.egg-info
*.egg
*.whl

# Environments
.env
venv/
myenv/
env/
gemini/

chroma/
.chroma/

# Log files
*.log
*.wav
*.mp3
*.patch